<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Service</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/javascript" src="/js/validationCommon.js"></script>
</head>
<body>
<header>
    <h1>Car Service</h1>
    <img src="/images/logo.png" alt="Car Service Logo">
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation=='main' ? 'active' :  ''%>">Main Page</a></li>
        <li><a href="/car" class="<%= navLocation=='cars' ? 'active' :  ''%>">Car</a></li>
        <li><a href="/mechanics" class="<%= navLocation=='mechanics' ? 'active' :  ''%>">Mechanic</a></li>
        <li><a href="/serviceappointment" class="<%= navLocation=='serviceappointment' ? 'active' :  ''%>">Service Appointment</a></li>
    </ul>
</nav>

